body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 500px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #202124;
  background: #fff;
  display: block;
}

/*header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 5px;
    background-color: blue;
}*/

/* 
watched to make a correct navbar using flexbox
the logo inside the advanced searh made me do everything again
FLEXBOX NAVBAR TUTORIAL
https://youtu.be/W-nIX17Gg-Q 

https://codepen.io/KittyGiraudel/pen/nYGVxj/4ab4d7e6e21b63ee0ba51bdd7b3b2abb
Excellent examples
CODE PEN, nice tool!

Ckeck flex values by default so not to repeat

*/
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 35px;
  /*background-color: red;*/
}

.nav-item {
list-style: none;
margin-right: 1rem;
/*background-color: yellow;*/
}

.nav-item a {
  text-decoration: none;
}

.nav-item-logo:first-child {
  margin-right: auto;
  margin-left: 0.5rem;
}

.nav-item img {
  height: 25px;
}

/*.containernav {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  align-items: center;
  height: 30px;
  background-color: yellow;
}

.containerhorizontal>div {
  background-color: red;
  padding: 11px;
}
*/

.links {
  text-decoration: none;
  color: rgba(0,0,0,.87);
  font-size: 13px;
  margin-right: 5px;
}

.icons{
  width: 24px;
  height: 24px;
  padding: 4px;
  /*background-color: gray;*/
}

.gray {
fill: #7a7b7c;
}

.loginbutton {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background: #1a73e8;
  border: 1px solid transparent;
  font-family: Google Sans,Roboto,Helvetica,Arial,sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: .25px;
  line-height: 16px;
  margin-right: 2px;
  min-width: 96px;
  padding: 9px 23px;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
}

.container {
  display: flex;
  flex-direction: column;
  /* flex-direction: column; at first I used child element (.centerchild)*/
  /*justify-content: center;*/
  align-items: center;
  /*margin: 1rem;*/
  padding-top: 12rem;
  padding-bottom: 12rem;
  /*background: gray;*/
}

.container>div{

  /*background-color: yellow;*/
  margin-bottom: 1rem;
}

#logo {
  width: 290px;
  height: 110px;
}

.imagestext {
  color: #4285f4;
  position: relative;
  left: 215px;
  top: -18px;
}

.imageslogo {
  font: 16px/16px roboto-regular, arial, sans-serif;
  white-space: nowrap;
}

.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color : transparent;
  /*width: 47vw;*/
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  height: 2.9rem;
  font-size: 1rem;
  /*margin-bottom: 1rem;*/
  /*background-color: blue;*/
}

.searchbar:focus, .searchbar:hover{
  box-shadow: 0 1px 6px #20212447;
  border-color: #dfe1e500;
  outline: none;
}

.searchbarinput{
  border: none;
  width: 38.5vw;
  font-size: 1.2rem;
  line-height: 2rem;
  white-space: pre;
  /*background-color: red;*/
}

.searchbarinput:focus,
.searchbarinput:-webkit-autofill{
  border : none;
  outline: none;
}

.search_button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.search_button:hover{
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

.language {
  color: #4d5156;
  display: inline-block;
  line-height: 28px;
  font-size: small;
  margin-bottom: 24px;
}

footer {
  background-color: #f3f3f3;
  font-size: 15px;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  display:flex;
  flex-direction: column;
  padding: 5px;
  color: #70757a;
}

.country {
  padding: 5px 30px;
  border-bottom: 1px solid #dadce0;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 20px;
}

.options {
  display: flex;
  column-gap: 25px;
  padding: 5px 40px;
}

.menu a {
  text-decoration: none;
  color: inherit;
}

.appbar {
  margin: 40px 10px 0px 20px;
  border-bottom: 1px solid #dadce0;
  padding-bottom: 2rem;
}

.appbar label {
  color: #d93025;
  font-size: 20px;
  margin: 25px 35px;
}

.advancedcontainer {
  margin: 50px 40px;
  width: 50vw;
  min-width: 600px;
  /*background-color: red;*/
}

.advancedcontainer label {
  display: inline-block;
  width: 16%;
  font-size: 16px;
}

.form-row {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px 0;
  /*background-color: yellow;*/
}

.form-row label {
  width: 20%;
  font-size: 12px;
}

.form-row input[type=text] {
  width: 65%;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
}

.form-row input:focus {
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
  border: 1px solid #4d90fe;
  outline: none;
}

.advancedbutton {
  font-size: 11px;
  width: 130px;
  line-height: 100%;
  height: 30px;
  background-color: #4d90fe;;
  color: white;
  font-weight: bold;
  min-width: 120px;
  border-radius: 2px;
  border: 1px solid #156bbd;
  text-align: center;
  float: right;
  margin-top: 15px;
  margin-right: 15%;
}

.advancedbutton:hover {
  /* check the state in a small tab (:hov) below styles*/
  box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
  background: #357ae8;
}

/*
In chrome >more tools> developer tools
Or right click> inspect
click on the element inside the elements panel, or point in the design to go directly to the element.
Then in the panel beside look for the styles tab to find css info

Found you can edit properties and see changes on the fly!!
Once in the style tab, select the checkbox in each property to see the difference
*/


/* margin: auto; the div will take up whatever width is specified in the CSS and the browser splits the remaining space equally between the margins on either side

/*FLEXBOX

All div's inside the container are CHILD elements
Container is PARENT

*/
